<section class="section section-lg bg-default">
    <div class="container">
      <h3 id="header" class="oh-desktop"><span class="d-inline-block wow slideInUp">Select The {{header}}</span></h3>
      <div   class="row row-lg row-30">
        <div *ngFor="let menuDetail of menuDetailList" class="col-sm-6 col-lg-4 col-xl-3">
          <!-- Product-->
          <article class="product wow fadeInLeft" data-wow-delay=".15s">
           <div class="product-figure"> <img style="height: 180px ;width: 200px;" src='{{menuDetail.imageUrl}}' alt='{{menuDetail.imageUrl}}' width="190" height="200"/>
           </div>
            <div class="product-content">
            <div class="product-rating">
            </div>
            <h6 class="product-title" style="margin-top: 10%;font-size: x-large;margin-left: 5%;">{{menuDetail.title}}</h6>
            <div class="product-price-wrap">
              <div class="product-price">-/{{menuDetail.price}}₹</div>
            </div>
            <div class="product-button">
              <div class="button-wrap"><a class="button button-xs button-primary button-winona" href="#">Add to cart</a></div>
              <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="https://en.wikipedia.org/wiki/Pizza_Margherita" target="_blank">View Product</a></div>
            </div>
            <!-- <span class="product-badge product-badge-new">New</span> -->
          </div>
          </article>
        </div>
      </div>
    </div>
  </section>