<div class="">
  <!-- What We Offer-->
  <section class="section section-md bg-default">
    <div class="container">
      <h3 class="oh-desktop"><span class="d-inline-block wow slideInDown">Our Menu</span></h3>
      <div class="row row-md row-30">
        <div class="col-sm-6 col-lg-4">
          <div class="oh-desktop">
            <!-- Services Terri-->
            <article class="services-terri wow slideInUp" routerLink="/add-salad">
              <div class="services-terri-figure" ><img src="..\assets\images\newimg\salad-plate.webp" alt=""/>
              </div>
              <div class="services-terri-caption"><span class="services-terri-icon linearicons-leaf"></span>
                <h5 class="services-terri-title"><a href="#">Salads</a></h5>
              </div>
            </article>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="oh-desktop">
            <!-- Services Terri-->
            <article class="services-terri wow slideInDown" routerLink="/add-pizza">
              <div class="services-terri-figure"><img src="../assets/images/newimg/pizza.jpg" alt="" />
              </div>
              <div class="services-terri-caption"><span class="services-terri-icon linearicons-pizza"></span>
                <h5 class="services-terri-title"><a href="#">PIZZA</a></h5>
              </div>
            </article>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="oh-desktop">
            <!-- Services Terri-->
            <article class="services-terri wow slideInDown" routerLink="/add-pasta">
              <div class="services-terri-figure"><img src="../assets/images/newimg/pasta.webp" alt=""/>
              </div>
              <div class="services-terri-caption"><span class="services-terri-icon linearicons-steak"></span>
                <h5 class="services-terri-title"><a href="#">PASTA</a></h5>
              </div>
            </article>
          </div>
        </div>


        <div class="col-sm-4 col-lg-4">
          <div class="oh-desktop">
            <!-- Services Terri-->
            <article class="services-terri wow slideInUp" routerLink="/add-burger">
              <div class="services-terri-figure"><img src="../assets/images/newimg/burger.jpg" alt="" />
              </div>
              <div class="services-terri-caption"><span class="services-terri-icon linearicons-hamburger"></span>
                <h5 class="services-terri-title"><a href="#">BURGER</a></h5>
              </div>
            </article>
          </div>
        </div>

        <div class="col-sm-6 col-lg-4">
          <div class="oh-desktop">
            <!-- Services Terri-->
            <article class="services-terri wow slideInDown" routerLink="/add-dessert">
              <div class="services-terri-figure"><img src="../assets/images/newimg/dessert.webp" alt="" />
              </div>
              <div class="services-terri-caption"><span class="services-terri-icon linearicons-ice-cream"></span>
                <h5 class="services-terri-title"><a href="#">Desserts</a></h5>
              </div>
            </article>
          </div>
        </div>

        <div class="col-sm-9   col-lg-4">
          <div class="oh-desktop">
            <!-- Services Terri-->
            <article class="services-terri wow slideInUp" routerLink="/add-drink">
              <div class="services-terri-figure"><img src="../assets/images/newimg/drink.webp " alt="" />
              </div>
              <div class="services-terri-caption"><span class="services-terri-icon linearicons-coffee-cup"></span>
                <h5 class="services-terri-title"><a href="#">Drinks</a></h5>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </section>

