 <!-- dessert section -->
 <section class="section section-lg bg-default">
  <div class="container">
    <h3 class="oh-desktop"><span class="d-inline-block wow slideInUp">Select The Desserts</span></h3>
    <div class="row row-lg row-30">
      <div class="col-sm-6 col-lg-4 col-xl-3">
        <!-- Product-->
        <article class="product wow fadeInLeft" data-wow-delay=".15s">
         <div class="product-figure"> <img style="height: 180px ;width: 200px;" src="..\assets\images\newimg\Cinnamon-ice-cream.webp" alt="" width="190" height="200"/>
         </div>
          <div class="product-content">
          <div class="product-rating"><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star text-gray-13"></span>
          </div>
          <h6 class="product-title">Cinnamon Ice Cream</h6>
          <div class="product-price-wrap">
            <div class="product-price">-/250₹</div>
          </div>
          <div class="product-button">
            <div class="button-wrap"><a class="button button-xs button-primary button-winona" href="#">Add to cart</a></div>
            <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="https://en.wikipedia.org/wiki/Pizza_Margherita" target="_blank">View Product</a></div>
          </div>
        </div>
        </article>
      </div>
      <div class="col-sm-6 col-lg-4 col-xl-3">
        <!-- Product-->

        <article class="product wow fadeInLeft" data-wow-delay=".1s">
         <div class="product-figure"> <img  style="height: 180px ;width: 200px;" src="../assets/images/newimg/sundae-with fruit and nuts.webp" alt="" />
         </div>
         <div class="product-content">
          <div class="product-rating"><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span>
          </div>
          <h6 class="product-title">Sundae With Fruit & Nuts</h6>
          <div class="product-price-wrap">
            <div class="product-price">-/140₹</div>
          </div>
          <div class="product-button">
            <div class="button-wrap"><a class="button button-xs button-primary button-winona" href="#">Add to cart</a></div>
            <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="#">View Product</a></div>
          </div><span class="product-badge product-badge-new">New</span>
        </div>
        </article>
      </div>
      <div class="col-sm-6 col-lg-4 col-xl-3">
        <!-- Product-->
        <article class="product wow fadeInLeft" data-wow-delay=".05s">
          <div class="product-figure"><img src="../assets/images/newimg/choco-chip.webp" alt="" width="180" height="150"/>
          </div>
          <div class="product-content">
          <div class="product-rating"><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star text-gray-13"></span>
          </div>
          <h6 class="product-title">Choco Chip Cokkies Ice Cream</h6>
          <div class="product-price-wrap">
            <div class="product-price">-/90₹</div>
          </div>
          <div class="product-button">
            <div class="button-wrap"><a class="button button-xs button-primary button-winona" href="#">Add to cart</a></div>
            <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="#">View Product</a></div>
          </div>
        <span class="product-badge product-badge-hot">Best</span>
          </div>
        </article>
      </div>
      <div class="col-sm-6 col-lg-4 col-xl-3">
        <!-- Product-->
        <article class="product wow fadeInLeft">
          <div class="product-figure"><img src="../assets/images/newimg/Blueberry_ice_cream.webp" alt="" width="180" height="150"/>
          </div>
          <div class="product-content">
          <div class="product-rating"><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span>
          </div>
          <h6 class="product-title">Blue Berry Ice Cream Cone</h6>
          <div class="product-price-wrap">
            <div class="product-price">-/60₹</div>
          </div>
          <div class="product-button">
            <div class="button-wrap"><a class="button button-xs button-primary button-winona" href="#">Add to cart</a></div>
            <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="#">View Product</a></div>
          </div><span class="product-badge product-badge-sale">Sale</span>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
