<footer class="section footer-modern context-dark footer-modern-2">
  <div class="footer-modern-line">
    <div class="container">
      <div class="row row-50">
        <div class="col-md-2 col-lg-5">
          <h4 ><span >What We Offer</span></h4>
          <ul class="footer-modern-list d-inline-block d-sm-block wow fadeInUp" style="font-size: larger;">
           <br> <li  >Pizzas</li>
            <li><a href="#">Burgers</a></li>
            <li><a href="#">Salads</a>  </li>
           <br> <li><a href="#">Drinks</a></li>
            <li><a href="#">Pasta</a></li>
            <li><a href="#">Drinks</a></li>
          </ul>
        </div>
         <!-- <form class="rd-form rd-mailform rd-form-inline rd-form-inline-sm oh-desktop" data-form-output="form-output-global" data-form-type="subscribe" method="post" action="bat/rd-mailform.php">
            <div class="form-wrap wow slideInUp">
              <input class="form-input" id="subscribe-form-2-email" type="email" name="email" data-constraints="@Email @Required"/>
              <label class="form-label" for="subscribe-form-2-email">Enter your E-mail</label>
            </div>
            <div class="form-button form-button-2 wow slideInRight">
              <button class="button button-sm button-icon-3 button-primary button-winona" type="submit"><span class="d-none d-xl-inline-block">Subscribe</span><span class="icon mdi mdi-telegram d-xl-none"></span></button>
            </div>
          </form> -->
        </div>
      </div>
    </div>

  <div class="footer-modern-line-2">
    <div class="container">
      <div class="row row-30 align-items-center">
        <div class="col-sm-6 col-md-7 col-lg-4 col-xl-4">
          <div class="row row-30 align-items-center text-lg-center">
            <div class="col-md-7 col-xl-6"><a class="brand" href="index.html"><img src="../assets/images/logo-inverse-198x66.png" alt="" width="198" height="66"/></a></div>


          </div>
        </div>
        <div class="col-sm-6 col-md-12 col-lg-8 col-xl-9 oh-desktop">
          <div class="group-xmd group-sm-justify">
            <div class="footer-modern-contacts wow slideInUp">
              <div class="unit unit-spacing-sm align-items-center">
                <div class="unit-left"><span class="icon icon-24 mdi mdi-phone"></span></div>
                <div class="unit-body"><a class="phone" href="tel:#">+91 908-110-3157</a></div>
              </div>
            </div>
            <div class="footer-modern-contacts wow slideInDown">
              <div class="unit unit-spacing-sm align-items-center">
                <div class="unit-left"><span class="icon mdi mdi-email"></span></div>
                <div class="unit-body"><a class="mail" href="mailto:#shivambhanushali148@gmail.com">shivambhanushali148gmail.com</a></div>
              </div>
            </div>
            <div class="wow slideInRight">
              <ul class="list-inline footer-social-list footer-social-list-2 footer-social-list-3">
                <li><a class="icon mdi mdi-facebook" href="#"></a></li>
                <li><a class="icon mdi mdi-twitter" href="#"></a></li>
                <li><a class="icon mdi mdi-instagram" href="#"></a></li>
                <li><a class="icon mdi mdi-google-plus" href="#"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-modern-line-3">
    <div class="container">
      <div class="row row-11 justify-content-between">
        <div style="font-size: large;
        padding-left: 3%;"><span>Gandhidham,Kutch,Gujarat,India</span></div>
        <div class="col-md-6">
        </div>
      </div>
    </div>
  </div>
</footer>
