<!-- <app-loader></app-loader> -->
    <div class="">
 <!-- Top Banner-->
  <!-- <a class="section section-banner text-center d-none d-xl-block" href="https://www.templatemonster.com/intense-multipurpose-html-template.html" style="background-image: url(../assets/images/banner/background-04-1920x60.jpg); background-image: -webkit-image-set( url(../assets/images/banner/background-04-1920x60.jpg) 1x, url(../assets/images/banner/background-04-3840x120.jpg) 2x )"><img src="../assets/images/banner/foreground-04-1600x60.png" srcset="../assets/images/banner/foreground-04-1600x60.png 1x, ../assets/images/banner/foreground-04-3200x120.png 2x" alt="" width="1600" height="310"></a> -->
      <!-- Page Header-->
      <!-- <app-header></app-header> -->
      r<!-- Swipe
             <section class="section swiper-container swiper-slider swiper-slider-2 swiper-slider-3" data-loop="true" data-autoplay="5000" data-simulate-touch="false" data-slide-effect="fade">
        <div class="swiper-wrapper text-sm-left">
          <div class="swiper-slide context-dark" data-slide-bg="../assets/images/slide-1-1920x753.jpg">
            <div class="swiper-slide-caption section-md">
              <div class="container">
                <div class="row">
                  <div class="col-sm-9 col-md-8 col-lg-7 col-xl-7 offset-lg-1 offset-xxl-0">
                    <h1 class="oh swiper-title"><span class="d-inline-block" data-caption-animate="slideInUp" data-caption-delay="0">Perfect pizza</span></h1>
                    <p class="big swiper-text" data-caption-animate="fadeInLeft" data-caption-delay="300">Experience the taste of a perfect pizza at PizzaHouse, one of the best restaurants!</p><a class="button button-lg button-primary button-winona button-shadow-2" href="#" data-caption-animate="fadeInUp" data-caption-delay="300">View our menu</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          -->

<!--
          <div class="swiper-slide context-dark" data-slide-bg="../assets/images/slide-2-1920x753.jpg">
            <div class="swiper-slide-caption section-md">
              <div class="container">
                <div class="row">
                  <div class="col-sm-8 col-lg-7 offset-lg-1 offset-xxl-0">
                    <h1 class="oh swiper-title"><span class="d-inline-block" data-caption-animate="slideInDown" data-caption-delay="0">Quality ingredients</span></h1>
                    <p class="big swiper-text" data-caption-animate="fadeInRight" data-caption-delay="300">We use only the best ingredients to make one-of-a-kind pizzas for our customers.</p>
                    <div class="button-wrap oh"><a class="button button-lg button-primary button-winona button-shadow-2" href="#" data-caption-animate="slideInUp" data-caption-delay="0">View our menu</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
         Swiper Pagination
        <div class="swiper-pagination" data-bullet-custom="true"></div>
        Swiper Navigation
        <div class="swiper-button-prev">
          <div class="preview">
            <div class="preview__img"></div>
          </div>
          <div class="swiper-button-arrow"></div>
        </div>
        <div class="swiper-button-next">
          <div class="swiper-button-arrow"></div>
          <div class="preview">
            <div class="preview__img"></div>
          </div>
        </div>
      </section>
      -->
      <!-- What We Offer-->
      <section class="section section-md bg-default">
        <div class="container">
          <h3 class="oh-desktop"><span class="d-inline-block wow slideInDown">Our Menu</span></h3>
          <div class="row row-md row-30">
            <div class="col-sm-6 col-lg-4">
              <div class="oh-desktop">
                <!-- Services Terri-->
                <article class="services-terri wow slideInUp">
                  <div class="services-terri-figure"><img src="..\assets\images\newimg\salad-plate.webp" alt=""/>
                  </div>
                  <div class="services-terri-caption"><span class="services-terri-icon linearicons-leaf"></span>
                    <h5 class="services-terri-title"><a href="#">Salads</a></h5>
                  </div>
                </article>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4">
              <div class="oh-desktop">
                <!-- Services Terri-->
                <article class="services-terri wow slideInDown">
                  <div class="services-terri-figure"><img src="../assets/images/newimg/pizza.jpg" alt="" />
                  </div>
                  <div class="services-terri-caption"><span class="services-terri-icon linearicons-pizza"></span>
                    <h5 class="services-terri-title"><a href="#">PIZZA</a></h5>
                  </div>
                </article>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4">
              <div class="oh-desktop">
                <!-- Services Terri-->
                <article class="services-terri wow slideInDown">
                  <div class="services-terri-figure"><img src="../assets/images/newimg/pasta.webp" alt=""/>
                  </div>
                  <div class="services-terri-caption"><span class="services-terri-icon linearicons-steak"></span>
                    <h5 class="services-terri-title"><a href="#">PASTA</a></h5>
                  </div>
                </article>
              </div>
            </div>


            <div class="col-sm-4 col-lg-4">
              <div class="oh-desktop">
                <!-- Services Terri-->
                <article class="services-terri wow slideInUp">
                  <div class="services-terri-figure"><img src="../assets/images/newimg/burger.jpg" alt="" />
                  </div>
                  <div class="services-terri-caption"><span class="services-terri-icon linearicons-hamburger"></span>
                    <h5 class="services-terri-title"><a href="#">BURGER</a></h5>
                  </div>
                </article>
              </div>
            </div>

            <div class="col-sm-6 col-lg-4">
              <div class="oh-desktop">
                <!-- Services Terri-->
                <article class="services-terri wow slideInDown">
                  <div class="services-terri-figure"><img src="../assets/images/newimg/dessert.webp" alt="" />
                  </div>
                  <div class="services-terri-caption"><span class="services-terri-icon linearicons-ice-cream"></span>
                    <h5 class="services-terri-title"><a href="#">Desserts</a></h5>
                  </div>
                </article>
              </div>
            </div>

            <div class="col-sm-9   col-lg-4">
              <div class="oh-desktop">
                <!-- Services Terri-->
                <article class="services-terri wow slideInUp">
                  <div class="services-terri-figure"><img src="../assets/images/newimg/drink.webp " alt="" />
                  </div>
                  <div class="services-terri-caption"><span class="services-terri-icon linearicons-coffee-cup"></span>
                    <h5 class="services-terri-title"><a href="#">Drinks</a></h5>
                  </div>
                </article>
              </div>
            </div>

          </div>
        </div>

      </section>
<!--
    Section CTA
      <section class="primary-overlay section parallax-container" data-parallax-img="../assets/images/bg-3.jpg">
        <div class="parallax-content section-xl context-dark text-md-left">
          <div class="container">
            <div class="row justify-content-end">
              <div class="col-sm-8 col-md-7 col-lg-5">
                <div class="cta-modern">
                  <h3 class="cta-modern-title wow fadeInRight">Best atmosphere</h3>
                  <p class="lead">PizzaHouse is the place of the best pizza and high-quality service.</p>
                  <p class="cta-modern-text oh-desktop" data-wow-delay=".1s"><span class="cta-modern-decor wow slideInLeft"></span><span class="d-inline-block wow slideInDown">Ben Smith, Founder</span></p><a class="button button-md button-secondary-2 button-winona wow fadeInUp" href="#" data-wow-delay=".2s">View Our Services</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
        Our Shop -->
        <section class="section section-lg bg-default">
          <div class="container">
            <h3 class="oh-desktop"><span class="d-inline-block wow slideInUp">Selected Pizzas</span></h3>
            <div class="row row-lg row-30">
              <div class="col-sm-6 col-lg-4 col-xl-3">
                <!-- Product-->
                <article class="product wow fadeInLeft" data-wow-delay=".15s">
                 <div class="product-figure"> <img style="height: 180px ;width: 200px;" src="..\assets\images\newimg\margherita.webp" alt="" width="190" height="200"/>
                 </div>
                  <div class="product-content">
                  <div class="product-rating"><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star text-gray-13"></span>
                  </div>
                  <h6 class="product-title">Margherita Pizza</h6>
                  <div class="product-price-wrap">
                    <div class="product-price">-/250₹</div>
                  </div>
                  <div class="product-button">
                    <div class="button-wrap"><a class="button button-xs button-primary button-winona" href="#">Add to cart</a></div>
                    <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="https://en.wikipedia.org/wiki/Pizza_Margherita" target="_blank">View Product</a></div>
                  </div>
                </div>
                </article>
              </div>
              <div class="col-sm-6 col-lg-4 col-xl-3">
                <!-- Product-->

                <article class="product wow fadeInLeft" data-wow-delay=".1s">
                 <div class="product-figure"> <img  style="height: 180px ;width: 200px;" src="../assets/images/newimg/masroom-pizza.webp" alt="" />
                 </div>
                 <div class="product-content">
                  <div class="product-rating"><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span>
                  </div>
                  <h6 class="product-title">Mushroom Pizza</h6>
                  <div class="product-price-wrap">
                    <div class="product-price">-/390₹</div>
                  </div>
                  <div class="product-button">
                    <div class="button-wrap"><a class="button button-xs button-primary button-winona" href="#">Add to cart</a></div>
                    <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="#">View Product</a></div>
                  </div><span class="product-badge product-badge-new">New</span>
                </div>
                </article>
              </div>
              <div class="col-sm-6 col-lg-4 col-xl-3">
                <!-- Product-->
                <article class="product wow fadeInLeft" data-wow-delay=".05s">
                  <div class="product-figure"><img src="../assets/images/newimg/chicago-pizza.jpg" alt="" width="180" height="150"/>
                  </div>
                  <div class="product-content">
                  <div class="product-rating"><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star text-gray-13"></span>
                  </div>
                  <h6 class="product-title">Chicago Deep Dish</h6>
                  <div class="product-price-wrap">
                    <div class="product-price">-/460₹</div>
                  </div>
                  <div class="product-button">
                    <div class="button-wrap"><a class="button button-xs button-primary button-winona" href="#">Add to cart</a></div>
                    <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="#">View Product</a></div>
                  </div>
                <span class="product-badge product-badge-hot">HOT</span>
                  </div>
                </article>
              </div>
              <div class="col-sm-6 col-lg-4 col-xl-3">
                <!-- Product-->
                <article class="product wow fadeInLeft">
                  <div class="product-figure"><img src="../assets/images/newimg/peso-pizza.webp" alt="" width="180" height="150"/>
                  </div>
                  <div class="product-content">
                  <div class="product-rating"><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span>
                  </div>
                  <h6 class="product-title">Pesto Pizza</h6>
                  <div class="product-price-wrap">
                    <div class="product-price product-price-old">  530₹</div>
                    <div class="product-price">-/420₹</div>
                  </div>
                  <div class="product-button">
                    <div class="button-wrap"><a class="button button-xs button-primary button-winona" href="#">Add to cart</a></div>
                    <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="#">View Product</a></div>
                  </div><span class="product-badge product-badge-sale">Sale</span>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </section>

        <!-- Section CTA-->
        <section class="primary-overlay section parallax-container" data-parallax-img="../assets/images/bg-4.jpg">
          <div class="parallax-content section-xxl context-dark text-md-left">
            <div class="container">
              <div class="row justify-content-end">
                <div class="col-sm-9 col-md-7 col-lg-5">
                  <div class="cta-modern">
                    <h3 class="cta-modern-title cta-modern-title-2 oh-desktop"><span class="d-inline-block wow fadeInLeft">-30% on all salads & drinks</span></h3>
                    <p class="cta-modern-text cta-modern-text-2 oh-desktop" data-wow-delay=".1s"><span class="cta-modern-decor cta-modern-decor-2 wow slideInLeft"></span><span class="d-inline-block wow slideInUp">Taste some of the best PizzaHouse salads!</span></p><a class="button button-lg button-secondary button-winona wow fadeInRight" href="contacts.html" data-wow-delay=".2s">contact us</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- Tell-->
        <section class="section section-sm section-first bg-default">
          <div class="container">
            <h3 class="heading-3">Book your Table</h3>
            <form class="rd-form rd-mailform form-style-1" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php">
              <div class="row row-20 gutters-20">
                <div class="col-md-6 col-lg-4 oh-desktop">
                  <div class="form-wrap wow slideInDown">
                    <input class="form-input" id="contact-your-name-6" type="text" name="name" data-constraints="@Required">
                    <label class="form-label" for="contact-your-name-6">Your Name*</label>
                  </div>
                </div>
                <div class="col-md-6 col-lg-4 oh-desktop">
                  <div class="form-wrap wow slideInUp">
                    <input class="form-input" id="contact-email-6" type="email" name="email" data-constraints="@Email @Required">
                    <label class="form-label" for="contact-email-6">Your E-mail*</label>
                  </div>
                </div>
                <div class="col-lg-4 oh-desktop">
                  <div class="form-wrap wow slideInDown">
                    <!--Select 2-->
                    <select class="form-input" data-minimum-results-for-search="Infinity" data-constraints="@Required">
                      <option value="1">Select a Service</option>
                      <option value="2">Dine-In</option>
                      <option value="3">Carry-Out</option>
                      <option value="4">Event Catering</option>
                    </select>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-wrap wow fadeIn">
                    <label class="form-label" for="contact-message-6">Message</label>
                    <textarea class="form-input textarea-lg" id="contact-message-6" name="message" data-constraints="@Required"></textarea>
                  </div>
                </div>
              </div>
              <div class="group-custom-1 group-middle oh-desktop">
                <button class="button button-lg button-primary button-winona wow fadeInRight" type="submit">Send message</button>
                <!-- Quote Classic-->
                <article class="quote-classic quote-classic-3 wow slideInDown">
                  <div class="quote-classic-text">
                    <p class="q">Please reserve your table at least 1 day in advance.</p>
                  </div>
                </article>
              </div>
            </form>
          </div>
        </section>
        <app-footer></app-footer>
    </div>
