 <!-- pizza section  -->
 <section class="section section-lg bg-default" >
  <div class="container">
    <h3 class="oh-desktop"><span class="d-inline-block wow slideInUp">Selected Pizzas</span></h3>
    <div class="row row-lg row-30">
      <div class="col-sm-6 col-lg-4 col-xl-3">
        <!-- Product-->
        <article class="product wow fadeInLeft" data-wow-delay=".15s">
         <div class="product-figure"> <img style="height: 180px ;width: 200px;" src="..\assets\images\newimg\margherita.webp" alt="" width="190" height="200"/>
         </div>
          <div class="product-content">
          <div class="product-rating"><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span>
          </div>
          <h6 class="product-title">Margherita Pizza</h6>
          <div class="product-price-wrap">
            <div class="product-price">-/250₹</div>
          </div>
          <div class="product-button">
            <div class="button-wrap"><a class="button button-xs button-primary button-winona" href="#">Add to cart</a></div>
            <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="https://en.wikipedia.org/wiki/Pizza_Margherita" target="_blank">View Product</a></div>
          </div>
        </div>
        </article>
      </div>
      <div class="col-sm-6 col-lg-4 col-xl-3">
        <!-- Product-->

        <article class="product wow fadeInLeft" data-wow-delay=".1s">
         <div class="product-figure"> <img  style="height: 180px ;width: 200px;" src="../assets/images/newimg/masroom-pizza.webp" alt="" />
         </div>
         <div class="product-content">
          <div class="product-rating"><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span>
          </div>
          <h6 class="product-title">Mushroom Pizza</h6>
          <div class="product-price-wrap">
            <div class="product-price">-/390₹</div>
          </div>
          <div class="product-button">
            <div class="button-wrap"><a class="button button-xs button-primary button-winona" href="#">Add to cart</a></div>
            <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="#">View Product</a></div>
          </div><span class="product-badge product-badge-new">New</span>
        </div>
        </article>
      </div>
      <div class="col-sm-6 col-lg-4 col-xl-3">
        <!-- Product-->
        <article class="product wow fadeInLeft" data-wow-delay=".05s">
          <div class="product-figure"><img src="../assets/images/newimg/chicago-pizza.jpg" alt="" width="180" height="150"/>
          </div>
          <div class="product-content">
          <div class="product-rating"><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star text-gray-13"></span>
          </div>
          <h6 class="product-title">Chicago Deep Dish</h6>
          <div class="product-price-wrap">
            <div class="product-price">-/460₹</div>
          </div>
          <div class="product-button">
            <div class="button-wrap"><a class="button button-xs button-primary button-winona" href="#">Add to cart</a></div>
            <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="#">View Product</a></div>
          </div>
        <span class="product-badge product-badge-hot">HOT</span>
          </div>
        </article>
      </div>
      <div class="col-sm-6 col-lg-4 col-xl-3">
        <!-- Product-->
        <article class="product wow fadeInLeft">
          <div class="product-figure"><img src="../assets/images/newimg/peso-pizza.webp" alt="" width="180" height="150"/>
          </div>
          <div class="product-content">
          <div class="product-rating"><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span>
          </div>
          <h6 class="product-title">Pesto Pizza</h6>
          <div class="product-price-wrap">
            <div class="product-price product-price-old">  530₹</div>
            <div class="product-price">-/420₹</div>
          </div>
          <div class="product-button">
            <div class="button-wrap"><a class="button button-xs button-primary button-winona" href="#">Add to cart</a></div>
            <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="#">View Product</a></div>
          </div><span class="product-badge product-badge-sale">Sale</span>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
